# Maps alternate emails/names to the correct identity

Ella Barnett <ella.barnett@tufts.edu> <ellabarnett@Ellas-MacBook-Air.local>
Wilson Skinner <w0skinner@gmail.com> <wilsonskinner@MacBook-Pro-24.local>
Ariella Mann <ariellamann02@gmail.com>
Valeska Peters <vip@Valeskas-MacBook-Pro.local>
